ul.navbar {
  display: grid;
  grid-template-columns: [header-start] 1fr 1fr 1fr 1fr [header-end];
  justify-items: left;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: black;
  }

  li {
    display: inline;
    margin: 10px;
  }

  li.sign-out {
    grid-column: header-end;
  }
}
