.hero {
  justify-self: center;
}

.wishlist-app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header header header header"
                       "sidebar main main main";
  grid-column-gap: 10px;
  justify-items: center;
}

.sidebar {
  grid-area: "sidebar";
}

.main {
  grid-area: "main";
}
