%nav
  %ul.navbar
    - if current_user
      %li Wishlist!
    %li.sign-out
      - if signed_in?
        = link_to 'Sign-out', destroy_user_session_path, method: :delete
        -# %a{href: destroy_user_session_path, method: :delete} Sign-out
      - else
        %a{ href: new_user_session_path } Sign-in
